<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Analytics Maturity Prediction</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Analytics Maturity Prediction</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
      <input type="text" name="AHT" placeholder="Call Duration" required="required" /><br>
    	<input type="text" name="NTT" placeholder="Non-Talk" required="required" /><br>
        <input type="text" name="Sentiment" placeholder="Sentiment Score" required="required" /><br>
        <input type="text" name="Complaints" placeholder="Escalation (%)" required="required" /><br>
        <input type="text" name="Repeats" placeholder="Return Caller (%)" required="required" /><br>
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{pred}}

</body>
</html>